footer {
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
.footerInfo {
  display: flex;
  justify-content: space-between;
}
.companyInfo {
  max-width: 344px;
  width: 100%;
}
.logo {
  font-size: 24px;
  font-weight: 500;
}
.footerNav {
  max-width: 503px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerNav a {
  color: #ffffff;
}
.copyrights {
  position: absolute;
  bottom: 10px;
}
.line {
   position: absolute;
   bottom: 50px;
   border-top: 1px solid #ffffff;
   opacity: 0.2;
   width: 100%;
}