.partnersContent {
  max-width: 350px;
  width: 100%;
  margin-bottom: 50px;
}

.partners {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-columns: auto auto auto;
}
.partner {
  width: 100%;
  height: 100px;
  background-color: #F3F6F9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.logoImg {
  max-height: 50px;
  /* filter: grayscale(100%); */
}
.logoImg img {
  width: 100%;
}
.logoImg:hover {
  filter: grayscale(0%);
}